.container{
		width: 500px;
		margin: 25px auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
}
*{
		margin:0;
		padding:0;
}
form{
		width:400px;
		background-color:#172636;
		padding:20px;
		color:#fff;
		border-radius:4px;
		
}

form label,input,button {
		border: 0;
		margin-bottom: 3px;
		display: block;
		width: 100%;
}
form input{
		height:25px;
		color: #000;
		line-height: 25px;
		background:#fff;
		padding:0 6px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	
}

form button{
		height:25px;
		background:#e67e22;
		margin-top: 10px;
		line-height: 30px;
		color:#fff;
}


form .error {
		color: #ff0000;
		/*border:2px solid red;*/
}